.media {
  display: flex;
  flex-direction: column;
  width: 220px;
  padding: 5px;
  margin: 7px 3px;
  background-color: #D5C3AA;
  color: black;
  border-radius: 10px;
  position: relative;
  font-family: "Montserrat", sans-serif;
  height:400px;
}

.media:hover {
  background-color: #f2aa4cff;
  color: black;
}

.poster {
  border-radius: 10px;
}

.singleContent__img {
  width: 100%;
}

@media (max-width: 550px) {
  .media {
    width: 47%;
    /* height: 400px; */
  }
}

@media (max-width: 400px) {
  .media {
    width: 300px;
  }
  .poster {
    width:100%;
    height:320px;
  }
}



.title {
  width: 100%;
  text-align: center;
  font-size: 17px;
  padding: 8px 0;
}

.subTitle {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3px;
  padding: 0 2px;
  padding-bottom: 3px;
}
